# 1.Modify the first item (22) of a list inside a following tuple to222
#tuple1 = (11, [22, 33], 44, 55)
#Expected output:
#tuple1 = (11, [222, 33], 44, 55)

In [14]:
tuple1=(11,[22,33],44,55)
tuple1[1].remove(22)
tuple1[1].insert(0,222)
print("tuple1 = ",tuple1)

tuple1 =  (11, [222, 33], 44, 55)

# 2. Count the number of occurrences of item 50 from a tuple
tuple1 = (50, 10, 60, 70, 50)

In [20]:
tuple1=(50,10,60,70,50)
def countX(tup, x): 
    count = 0
    for i in tup: 
        if (i == x): 
            count = count + 1
    return count 
   
tuple1=(50,10,60,70,50)
n= 50
print("The number of occurrences of item 50 in the given tuple=",countX(tuple1, n))

The number of occurrences of item 50 in the given tuple= 2

# 3. Write a Python program to convert a list to a tuple

In [21]:
def convert(list): 
    return tuple(i for i in list) 
  
list = [1, 2, 3, 4] 
print("Tuple of the given list=",convert(list))

Tuple of the given list= (1, 2, 3, 4)

# 4. Returns a new set with all items from both sets by removing duplicates
#set1 = {10, 20, 30, 40, 50}
#set2 = {30, 40, 50, 60, 70}

In [24]:
def setwithoutdup(set1, set2): 
    final_set = sorted(set1|set2) 
    return final_set
  
set1={10,20,30,40,50}
set2={30,40,50,60,70}
print("New set=",setwithoutdup(set1,set2))

New set= [10, 20, 30, 40, 50, 60, 70]

# 5. Merge following two Python dictionaries into one
#dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
#dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
#Expected output:
#{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [1]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict3=dict1.copy()
dict3.update(dict2)
print("Merged dictionary=",dict3)

Merged dictionary= {'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

# 6.Given a Python dictionary, Change Bradâ€™s salary to 8500
#sampleDict = {
 'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 6500}
}
#Expected output:
sampleDict = {
 'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}
}

In [4]:
sampleDict = {
 'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 6500}
}

sampleDict['emp3']['salary']=8500
print("sampleDict=",sampleDict)

sampleDict= {'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

# 7. Rename key city to location in the following dictionary
#sampleDict = {
 "name": "Kelly",
 "age":25,
 "salary": 8000,
 "city": "New york"
}
#Expected output:
{
 "name": "Kelly",
 "age":25,
 "salary": 8000,
 "location": "New york"
}

In [6]:
sampleDict = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york" }
sampleDict['location']=sampleDict.pop('city')
print("sampleDict=",sampleDict)

sampleDict= {'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}