In [2]:
#1.print multiplication table of a given number
n=int(input("enter a number:"))
for i in range(1,11):
    m=n*i
    print(m)

enter a number:5
5
10
15
20
25
30
35
40
45
50

In [4]:
#2.print numbers divisible by 5--lst=[1,5,22,15,2,9,10,33,40]
lst=[1,5,22,15,2,9,10,33,40]
for i in lst:
    if i%5==0:
        print(i)

5
15
10
40

In [14]:
#3.lst=[1,5,22,15,2,9,10,33,40],reverse the lists using loops
lst=[1,5,22,15,2,9,10,33,40]
k=len(lst)
for i in (range(k-1,-1,-1)):
    print(lst[i])

40
33
10
9
2
15
22
5
1

In [1]:
#nested loops
lst1=['Anil','Raju','Asif']
lst2=['English','Malayalam','Hindi']
for i in lst1:
    for j in lst2:
        print(i+" talks "+j)

Anil talks English
Anil talks Malayalam
Anil talks Hindi
Raju talks English
Raju talks Malayalam
Raju talks Hindi
Asif talks English
Asif talks Malayalam
Asif talks Hindi

In [5]:
n=3
for i in range(1,11):
    print(str(i)+"*"+str(n)+"="+str(n*i))

1*3=3
2*3=6
3*3=9
4*3=12
5*3=15
6*3=18
7*3=21
8*3=24
9*3=27
10*3=30

In [8]:
i,j=2,4
avg=(i+j)/2
print("Average of {} and {} is {}".format(i,j,avg))

Average of 2 and 4 is 3.0

In [10]:
#break statement
mystr="MES College"
for i in mystr:
    print(i)
    if i=="o":
        break

#if the condition satisfied,break statement executes,contol exit from the loop

M
E
S

C
o

In [15]:
#continue statement
mystr="MES College"
for i in mystr:
    if i=="o":
        continue
    print(i)

#only the iteration is skipped in these statement compare to break statement

M
E
S

C
l
l
e
g
e

In [18]:
for i in range(1,11):
    print(i)
    if i==5:
        break
else:
    print("Loop was fully executed")

1
2
3
4
5

In [22]:
s="hello world"
s.upper()
#upper() is not permanent conversion

'HELLO WORLD'

In [24]:
s

'hello world'

In [26]:
s=s.upper()
s

'HELLO WORLD'

In [29]:
s.lower()

'hello world'

In [31]:
mystr="Hello Sachin Tendulkar"
mystr.split()

['Hello', 'Sachin', 'Tendulkar']

In [34]:
mystr="Hello Sachin Tendulkar"
resmystr=mystr.split()
type(resmystr)

list

In [37]:
mystr="Hello,Sachin,Tendulkar"
resmystr=mystr.split(",")
resmystr

['Hello', 'Sachin', 'Tendulkar']

In [40]:
mystr1="Hello\nworld\nabc"
mystr1.replace("\n"," $")

'Hello $world $abc'

In [42]:
m="hello world"
m.isalnum()

False

In [44]:
m="helloworld"
m.isalnum()

True

In [47]:
m.isnumeric()

False

In [49]:
m.islower()

True

In [51]:
"india"+3

TypeError: can only concatenate str (not "int") to str

In [54]:
"india "*4

'india india india india '

In [56]:
lst=[4,6,7]
lst*4

[4, 6, 7, 4, 6, 7, 4, 6, 7, 4, 6, 7]

In [58]:
lst

[4, 6, 7]

In [71]:
#[8,12,14]
lst2=[2*i for i in lst]
lst2

[8, 12, 14]

In [73]:
#Tuple
marks=(34,56,78,23)
marks
type(marks)

tuple

In [78]:
m=tuple()

In [79]:
s=(1)
type(s)

int

In [81]:
k=(1,2,3,4,5)
k

(1, 2, 3, 4, 5)

In [85]:
k[0]

1

In [86]:
k[-1]

5

In [88]:
k[0]=6

TypeError: 'tuple' object does not support item assignment

In [90]:
k

(1, 2, 3, 4, 5)

In [93]:
k[-1:-3:-1]

(5, 4)

In [95]:
#len,max,min,sorted,sum,tuple
len(k)
max(k)
min(k)

1

In [97]:
v=(23,0,45,9)
sorted (v)

[0, 9, 23, 45]

In [99]:
sum(v)

77

In [102]:
for i in v:
    print(i)

23
0
45
9

In [104]:
mystr="Hello world"
tpl1=tuple(mystr)
tpl1

('H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

In [106]:
tpl1[5]

' '

In [109]:
lst2=[23,'hello',45,'malayalam']
tpl2=tuple(lst2)
tpl2

(23, 'hello', 45, 'malayalam')

In [111]:
#set
a={2,9,1,0}
a

{0, 1, 2, 9}

In [119]:
c={24,'three',5.0,'hello',3}
c

{24, 3, 5.0, 'hello', 'three'}

In [117]:
k={1,4,2,4,2,55,44,0,1,55}
k

{0, 1, 2, 4, 44, 55}

In [123]:
m={'hello',"hello","""hello"""}
m

{'hello'}

In [126]:
s={23,'three',27,'hello'}
s

{23, 27, 'hello', 'three'}

In [128]:
k={1,4,5,6}
k[1:3]

TypeError: 'set' object is not subscriptable

In [130]:
k

{1, 4, 5, 6}

In [132]:
k.discard(4)#permanent effect

In [134]:
k

{1, 5, 6}

In [136]:
k.remove(5)

KeyError: 5

In [138]:
k

{1, 6}

In [140]:
k.remove(5)

KeyError: 5

In [141]:
k.discard(5)

In [143]:
k

{1, 6}

In [145]:
k.clear()

In [147]:
k

set()

In [149]:
k.add(4)
k

{4}

In [150]:
k.add(77)

In [151]:
k

{4, 77}

In [153]:
k.add(2)

In [155]:
k

{2, 4, 77}

In [157]:
k.update({66,0,3})
k

{0, 2, 3, 4, 66, 77}

In [159]:
k.update([44,2,45,99])
k

{0, 2, 3, 4, 44, 45, 66, 77, 99}

In [161]:
lst3=[4,77,0,1,33]
lst3

[4, 77, 0, 1, 33]

In [162]:
x=set(lst3)
x

{0, 1, 4, 33, 77}