In [1]:
pwd

'C:\\DSAICourse\\Python'

In [2]:
a=5
a

5

In [3]:
type(a)

int

In [4]:
b="Kerala
b"

SyntaxError: EOL while scanning string literal (<ipython-input-4-697e7933cc67>, line 1)

In [ ]:
b="Kerala"
b

In [ ]:
type(b)

In [ ]:
c=1.1
c

In [ ]:
type(c)

In [ ]:
m=True
m

In [ ]:
type(m)

In [ ]:
print("mes")

In [ ]:
b.upper()

In [ ]:
k='MES College of Engineering'
k

In [5]:
k[0]

NameError: name 'k' is not defined

In [ ]:
k[4]

In [ ]:
k[0:5]

In [ ]:
print(k)
k[0:8:2]

In [ ]:
k[-1]

In [ ]:
k[-8]

In [ ]:
k

In [ ]:
len(k)

In [ ]:
k[-1:5:-1]

In [ ]:
print(k)

In [ ]:
k[0]

In [ ]:
k[0]='s'

In [ ]:
t=1
t

In [ ]:
t=3
t

In [ ]:
k='kuttipuram'
k

# program for finding prime or not

In [ ]:
print("hello python")

In [ ]:
a=1
b=2
c=a+b
c

In [ ]:
d="welcome to programming world"
d

In [ ]:
len(d)

In [ ]:
d[5]

In [ ]:
d.lower()

In [1]:
myStr="Iam a string"
print(myStr[-8:-4])

a st

In [ ]:
a=5
print(a)

In [3]:
mystr="kerala"
mystr

'kerala'

In [4]:
mystr[-2]

'l'

In [5]:
mystr[1:3]

'er'

In [ ]:
mystr[:3]

In [ ]:
mystr[:]

In [ ]:
mystr[-2:4]

In [ ]:
mystr[-2:-6]

In [ ]:
mystr[-2:-6:-1]

In [ ]:
mystr[-2:-6:-2]

In [ ]:
mystr[::-1]

In [ ]:
s='Hello'
s

In [ ]:
s2="Hello"
s2

In [ ]:
s3="""Hello"""
s3

In [ ]:
m=1+2j
type(m)

In [ ]:
m.real

In [ ]:
m.imag

In [ ]:
a=input()

In [ ]:
a

In [ ]:
type(a)

In [ ]:
m=input()

In [ ]:
m

In [ ]:
type(m)

In [ ]:
n=int(input())

In [ ]:
n

In [ ]:
type(n)

In [ ]:
j=input("enter your name:")

In [ ]:
j

In [ ]:
i=-1
if i<0:
    print("if block executed")
elif i<5:
    pass
    
else:
    print("else block executed")

In [ ]:
#1.find the area of the circle-radius input
#2.get a string as input and print the reverse string
#3.input three numbers find its average
#4.input three numbers,find big among them
#5.get a string ,print characcters at even and odd indexes

In [ ]:
#find the area of the circle-radius input
pi=3.14
r=int(input("enter the radius:"))
a=pi*r*r
print("area=",a)

In [ ]:
#get a string as input and print the reverse string
s=input("enter a string:")
print("reverse:",s[::-1])

In [ ]:
#input three numbers find its average
a=int(input("enter 1st no:"))
b=int(input("enter 2nd no:"))
c=int(input("enter 3rd no:"))
avg=(a+b+c)/3
print("average=",avg)
#input three numbers,find big among them
if(a>b):
    if a>c:
        print("big number is",a)
    else:
        print("big number is",c)       
elif b>c:
     print("big number is",b)
else:
     print("big number is",c)

In [1]:
#get a string ,print characcters at even and odd indexes
r=input("enter a string:")
print("characters at even indexes:",r[::2])
print("characters at odd indexes:",r[1::2])

enter a string:mehajabin
characters at even indexes: mhjbn
characters at odd indexes: eaai

In [ ]:
w=[1,2,3,4,5,'']
w

In [ ]:
e=list(['Hello','UAE','India'])
e

In [ ]:
w[0]

In [ ]:
w[0:4]

In [ ]:
a=['tirur','kuttipuram',3,4.5,True]
a

In [ ]:
type(a)

In [ ]:
a=['tirur','kuttipuram',3,4.5,True]
a

In [ ]:
a[::-1]

In [3]:
list=[1,2,3,'Calicut']
list

[1, 2, 3, 'Calicut']

In [4]:
list[0:3]

[1, 2, 3]

In [5]:
list[::-1]

['Calicut', 3, 2, 1]

In [ ]:
list

In [ ]:
list[3:0:1]

In [ ]:
list[-3:-1:-1]

In [ ]:
list[-3:-1]

In [ ]:
lst=["calicut"]
lst

In [ ]:
#append
lst.append("calicut")
lst

In [ ]:
lst.append(2)
lst

In [ ]:
lst.append(['kuttipuram',3,4])
lst

In [ ]:
lst.append(4)
lst.append(46)
lst

In [ ]:
lst[5][0]

In [ ]:
lst2=['Calicut','Malappuram',3,5,6]
lst2

In [ ]:
#insert
lst2.insert(1,44)
lst2

In [ ]:
lst2.insert(-2,88)
lst2

In [ ]:
#pop
lst2.pop()

In [ ]:
lst2

In [ ]:
lst2.pop(4)
lst2

In [6]:
lst3=[34,12,45,7,0,99,8]
lst3

[34, 12, 45, 7, 0, 99, 8]

In [9]:
lst3.sort()

In [12]:
lst3.append(12)

In [14]:
lst3

[0, 7, 8, 12, 34, 45, 99, 12, 12, 12]

In [16]:
lst3.remove(12)

In [18]:
lst3

[0, 7, 8, 34, 45, 99, 12, 12]

In [20]:
"MES"+" COLLEGE"

'MES COLLEGE'

In [22]:
lst2+lst3

NameError: name 'lst2' is not defined

In [27]:
mystr="INDIA"
mystr*3

'INDIAINDIAINDIA'

In [28]:
lst3*3

[0,
 7,
 8,
 34,
 45,
 99,
 12,
 12,
 0,
 7,
 8,
 34,
 45,
 99,
 12,
 12,
 0,
 7,
 8,
 34,
 45,
 99,
 12,
 12]

In [31]:
lst3+"college"

TypeError: can only concatenate list (not "str") to list

In [33]:
lst4=[1,2,4,6,7]
lst4

[1, 2, 4, 6, 7]

In [35]:
lst4.insert(-2,666)

In [37]:
lst4

[1, 2, 4, 666, 666, 6, 7]

In [39]:
lst4.remove(666)

In [49]:
lst4

[1, 2, 4, 666, 666, 666, 666, 6, 7]

# loops

In [52]:
mystr="mes college"
for i in mystr:
    print(i,end="  ")

m  e  s     c  o  l  l  e  g  e

In [54]:
for i in mystr:
    print(i)

m
e
s

c
o
l
l
e
g
e

In [62]:
lst5=['Malappuram','Calicut',3,45,6]
for i in lst5:
    if type(i)==int:
        print(i)

3
45
6

In [64]:
#range
range(10)#0 to 9
range(1,10)#1 to 9
range(start,end,step)

list(range(10))

NameError: name 'start' is not defined

In [66]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [70]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [72]:
#print first 10 natural numbers
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [76]:
n=int(input("enter a number:"))
sum=0
for i in range(1,n):
    sum=sum+i
print("sum=",sum)

enter a number:21
sum= 210

In [ ]:

i=1
while i<=10:
    print(i)
    i=i+1

In [2]:
i=1
while i<=10:
    print(i)
    i=i+2

1
3
5
7
9

In [3]:
#1.print multiplication table of a given number
#2.print numbers divisible by 5--lst=[1,5,22,15,2,9,10,33,40]
#3.lst=[1,5,22,15,2,9,10,33,40],reverse the lists using loops

In [ ]:
n=int(input("enter a number:"))
for i in range(1,n):
    print(n*i)