In [2]:
pwd

'C:\\DSAICourse\\Python'

In [57]:
a=5
a

5

In [58]:
type(a)

int

In [8]:
b="Kerala
b"

SyntaxError: EOL while scanning string literal (<ipython-input-8-697e7933cc67>, line 1)

In [10]:
b="Kerala"
b

'Kerala'

In [12]:
type(b)

str

In [14]:
c=1.1
c

1.1

In [16]:
type(c)

float

In [17]:
m=True
m

True

In [19]:
type(m)

bool

In [21]:
print("mes")

mes

In [24]:
b.upper()

'KERALA'

In [26]:
k='MES College of Engineering'
k

'MES College of Engineering'

In [28]:
k[0]

'M'

In [30]:
k[4]

'C'

In [32]:
k[0:5]

'MES C'

In [35]:
print(k)
k[0:8:2]

MES College of Engineering

'MSCl'

In [37]:
k[-1]

'g'

In [39]:
k[-8]

'i'

In [41]:
k

'MES College of Engineering'

In [43]:
len(k)

26

In [45]:
k[-1:5:-1]

'gnireenignE fo egell'

In [47]:
print(k)

MES College of Engineering

In [49]:
k[0]

'M'

In [51]:
k[0]='s'

TypeError: 'str' object does not support item assignment

In [53]:
t=1
t

1

In [55]:
t=3
t

3

In [59]:
k='kuttipuram'
k

'kuttipuram'

# program for finding prime or not

In [2]:
print("hello python")

hello python

In [7]:
a=1
b=2
c=a+b
c

3

In [9]:
d="welcome to programming world"
d

'welcome to programming world'

In [11]:
len(d)

28

In [13]:
d[5]

'm'

In [16]:
d.lower()

'welcome to programming world'

In [2]:
myStr="Iam a string"
print(myStr[-8:-4])

a st

In [1]:
a=5
print(a)

5

In [3]:
mystr="kerala"
mystr

'kerala'

In [6]:
mystr[-2]

'l'

In [9]:
mystr[1:3]

'er'

In [11]:
mystr[:3]

'ker'

In [13]:
mystr[:]

'kerala'

In [15]:
mystr[-2:4]

''

In [17]:
mystr[-2:-6]

''

In [20]:
mystr[-2:-6:-1]

'lare'

In [22]:
mystr[-2:-6:-2]

'lr'

In [24]:
mystr[::-1]

'alarek'

In [26]:
s='Hello'
s

'Hello'

In [28]:
s2="Hello"
s2

'Hello'

In [30]:
s3="""Hello"""
s3

'Hello'

In [32]:
m=1+2j
type(m)

complex

In [34]:
m.real

1.0

In [36]:
m.imag

2.0

In [38]:
a=input()

kuttipuram

In [40]:
a

'kuttipuram'

In [42]:
type(a)

str

In [44]:
m=input()

44

In [46]:
m

'44'

In [48]:
type(m)

str

In [50]:
n=int(input())

88

In [56]:
n

88

In [58]:
type(n)

int

In [66]:
j=input("enter your name:")

enter your name:

In [67]:
j

''

In [75]:
i=-1
if i<0:
    print("if block executed")
elif i<5:
    pass
    
else:
    print("else block executed")

if block executed

In [107]:
#1.find the area of the circle-radius input
#2.get a string as input and print the reverse string
#3.input three numbers find its average
#4.input three numbers,find big among them
#5.get a string ,print characcters at even and odd indexes

In [78]:
#find the area of the circle-radius input
pi=3.14
r=int(input("enter the radius:"))
a=pi*r*r
print("area=",a)

enter the radius:3
area= 28.259999999999998

In [81]:
#get a string as input and print the reverse string
s=input("enter a string:")
print("reverse:",s[::-1])

enter a string:world
reverse: dlrow

In [87]:
#input three numbers find its average
a=int(input("enter 1st no:"))
b=int(input("enter 2nd no:"))
c=int(input("enter 3rd no:"))
avg=(a+b+c)/3
print("average=",avg)
#input three numbers,find big among them
if(a>b):
    if a>c:
        print("big number is",a)
    else:
        print("big number is",c)       
elif b>c:
     print("big number is",b)
else:
     print("big number is",c)

enter 1st no:1
enter 2nd no:2
enter 3rd no:4
average= 2.3333333333333335
big number is 4

In [95]:
#get a string ,print characcters at even and odd indexes
r=input("enter a string:")
print("characters at even indexes:",r[::2])
print("characters at odd indexes:",r[1::2])

enter a string:kerala
characters at even indexes: krl
characters at odd indexes: eaa

In [97]:
w=[1,2,3,4,5,'']
w

[1, 2, 3, 4, 5, '']

In [99]:
e=list(['Hello','UAE','India'])
e

['Hello', 'UAE', 'India']

In [101]:
w[0]

1

In [103]:
w[0:4]

[1, 2, 3, 4]

In [105]:
a=['tirur','kuttipuram',3,4.5,True]
a

['tirur', 'kuttipuram', 3, 4.5, True]

In [108]:
type(a)

list

In [5]:
a=['tirur','kuttipuram',3,4.5,True]
a

['tirur', 'kuttipuram', 3, 4.5, True]

In [7]:
a[::-1]

[True, 4.5, 3, 'kuttipuram', 'tirur']

In [9]:
list=[1,2,3,'Calicut']
list

[1, 2, 3, 'Calicut']

In [13]:
list[0:3]

[1, 2, 3]

In [15]:
list[::-1]

['Calicut', 3, 2, 1]

In [17]:
list

[1, 2, 3, 'Calicut']

In [19]:
list[3:0:1]

[]

In [22]:
list[-3:-1:-1]

[]

In [25]:
list[-3:-1]

[2, 3]

In [32]:
lst=["calicut"]
lst

['calicut']

In [33]:
#append
lst.append("calicut")
lst

['calicut', 'calicut']

In [36]:
lst.append(2)
lst

['calicut', 'calicut', 2, 2, 2]

In [38]:
lst.append(['kuttipuram',3,4])
lst

['calicut', 'calicut', 2, 2, 2, ['kuttipuram', 3, 4], ['kuttipuram', 3, 4]]

In [41]:
lst.append(4)
lst.append(46)
lst

['calicut',
 'calicut',
 2,
 2,
 2,
 ['kuttipuram', 3, 4],
 ['kuttipuram', 3, 4],
 4,
 4,
 46,
 4,
 46]

In [45]:
lst[5][0]

'kuttipuram'

In [47]:
lst2=['Calicut','Malappuram',3,5,6]
lst2

['Calicut', 'Malappuram', 3, 5, 6]

In [49]:
#insert
lst2.insert(1,44)
lst2

['Calicut', 44, 44, 'Malappuram', 3, 5, 6]

In [51]:
lst2.insert(-2,88)
lst2

['Calicut', 44, 44, 'Malappuram', 3, 88, 88, 5, 6]

In [53]:
#pop
lst2.pop()

5

In [55]:
lst2

['Calicut', 44, 44, 'Malappuram', 3, 88, 88]

In [57]:
lst2.pop(4)
lst2

['Calicut', 44, 44, 'Malappuram', 88]

In [2]:
lst3=[34,12,45,7,0,99,8]
lst3

[34, 12, 45, 7, 0, 99, 8]

In [12]:
lst3.append(12)